@tailwind base;
@tailwind components;
@tailwind utilities;

/* Simple custom scrollbar */
.custom-scrollbar::-webkit-scrollbar { width: 8px; }
.custom-scrollbar::-webkit-scrollbar-thumb { background-color: rgba(100,116,139,.3); border-radius: 8px; }

html, body, #root { height: 100%; }
body { margin: 0; }
